rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{collectionName}/{documentId} {
      allow read, create, update, delete:
        if request.auth != null && request.auth.uid == userId;
    }
  }
}
